@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --black--: #111111;
  --gray--: #e8e8e8;
  --blue--: #005bbb;
  --red--: #fd0606;
  --boxShadow--: 0px 0px 4px 0px rgba(0, 0, 0, 0.33);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  padding: 0px 20px !important;
}

.all {
  width: 100vw;
  height: 100vh;
}

/* TOP */

h1 {
  font-size: 24px !important;
  font-weight: 700 !important;
  margin: 0 !important;
}

h2 {
  font-size: 20px !important;
  font-weight: 700 !important;
  margin: 0 !important;
}

.topMenu {
  height: 75px;
  position: fixed;
  width: 100vw;
}

.allEmblemsDiv {
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

.emblemsInfo {
  margin: 0 !important;
  margin-bottom: 2vh !important;
}

.emblem {
  height: 160px;
  width: 120px;
  background-color: var(--blue--);
  border-radius: 5px;
  padding-right: 10px;
}

.emblemsBar {
  background-color: var(--gray--);
  height: 15px;
  border-radius: 7.5px;
  padding: 0 !important;
}

.embText{
  padding-left: 10px !important;
}

.emblemsBarFull {
  background-color: var(--blue--);
  height: 100%;
  border-radius: 7.5px;
  width: 70%;
}

p {
  margin: 0 !important;
}

.barbar {
  margin-top: 5vh !important;
}
